.menu {
    filter: url("#goo");
}

.menu-open-button {
    background: #e91e63;
    border-radius: 100%;
    width: 160px;
    height: 160px;
    margin-left: -80px;
    margin-top: -44px;
    position: absolute;
    top: 20px;
    color: white;
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}

.menu-item {
    background: #e91e63;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: 20px;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 40px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}

.alternate {
    background: #e91e63;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: 20px;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 40px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
    opacity: 0;
}

.menu-open {
    display: none;
}

.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
    opacity: 0;
}

.menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
    opacity: 1;
}
.menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
    opacity: 1;
}

.hidden {
    font-size: 5px;
    display: block;
    position: absolute;
    top: 10%;
    left: 10%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
    opacity: 0;
}

.menu-open:checked + .menu-open-button .hidden {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.menu {
    position: absolute;
    left: 50%;
    margin-left: -190px;
    padding-top: 20px;
    padding-left: 190px;
    width: 380px;
    height: 250px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
}

.menu-item:hover {
    background: white;
    color: #e91e63;
}

.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open-button:hover {
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    transform: translate3d(0.08361px, -104.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    transform: translate3d(90.9466px, 52.47586px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 580ms;
    transform: translate3d(-90.86291px, 52.62064px, 0);
}

.menu-open:checked ~ .alternate {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .alternate:nth-child(4) {
    transition-duration: 280ms;
    transform: translate3d(90.9466px, -52.47586px, 0);
}
.menu-open:checked ~ .alternate:nth-child(6) {
    transition-duration: 480ms;
    transform: translate3d(0.08361px, 104.99997px, 0);
}
.menu-open:checked ~ .alternate:nth-child(8) {
    transition-duration: 680ms;
    transform: translate3d(-91.03006px, -52.33095px, 0);
}

.parent-menu {
    margin-top: 70px;
    zoom: 225%
}

.menu-text {
    font-size: 18px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.menu-subtext {
    font-size: 8px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

/*.center-icon {
margin-top: -5px;
}*/

