<section data-state="type-name" data-background-image="./lib/img/green_blue.png" class="center scrollable">
    <div style="padding-left: 200px; padding-right: 200px">
        <div>
            <p class="heybox" style="margin-bottom: 0px">
                <div class="type-js headline">
                    <h1 class="text-js" style="margin-bottom: 0px;"><strong>Hey! I'm Ben.</strong></h1>
                </div>
            </p>
            <p class="plain-text something" style="padding-bottom: 30px; font-size: 18px; text-align: justify; text-justify: inter-word; margin-top: -5px; color: white;">
                Welcome to my site! I'm glad you're here. I'm a rising junior at Duke University pursuing a B.S. in Computer Science with a minor in Spanish and a certificate in Innovation and Entrepreneurship. I shamelessly follow <a href="https://www.instagram.com/retrieverpuppies/">@retrieverpuppies</a> and <a href="https://www.instagram.com/puppyofday/">@puppyofday</a> on Instagram to be sure I get my daily dose of warm and fuzzy feelings, and I have an unparalleled love for Mexican food. I've been known to order my burgers with fried eggs on them but am open to the possibility of substituting the egg for bacon and BBQ sauce. I'm from Los Angeles (what's snow?) and have a pretty ~dope~ twin brother. Lastly, it wouldn't be a proper intro if I didn't mention how much I love basketball. I'm at just about every Duke basketball game, and I follow my hometown Lakers religiously. If there's anything I could talk as much about as computer science, it's basketball.
                <br><br>
                As far as the more technical side of things go, I have experience in full-stack development and love all things software engineering. CS is a field I know I'll never know everything about, and that intrigues me! I'm at a point in my life where I have the chance to gobble up so much information covering so many different parts of computer science, which drives me to constantly be learning. There are times where I feel like a dog that has thousands of squirrels running in every direction all around him, and I don't know which ones to chase! Do I go after machine learning, networks, the cloud, operating systems, and/or infrastructure? It's a great problem to have because it means I'm always interested in what I'm studying or working on, and I'm just trying to gobble up as much knowledge as I can!
            </p>
        </div>
        <div style="margin-bottom: 30px;">
            <span class="ss-style-dots"></span> <span class="ss-style-dots"></span> <span class="ss-style-dots"></span>
        </div>
        <h4>Timeline</h4>
        <div class="container">
            <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Startup Internship</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                </div>
            </div>

            <div class="timeline-block timeline-block-right">
                <div class="marker"></div>
                <div class="timeline-content">
                    <img src="./lib/img/timeline/horizons.png" style="width: 50px; border: 2px solid white; margin-bottom: -13px;">
                    <h3>Horizons</h3>
                    <h5>May - July 2017</h5>
                    <p dir=ltr>Horizons was a chance for me to develop full-stack skills that I wouldn't otherwise get to develop through my standard school curriculum. I learned about the most popular technologies in use
                        today, such as React, React Native, Node.js, HTML, CSS, JQuery, Ajax, Express, MongoDB, and more. I now feel capable of building whatever I set my mind to build. I honestly think one of the
                        biggest things I got out of Horizons was an ability to read documentation well, as simple as that sounds. I used to look at all documentation as pure gibberish, but now I'm able to pick out key information and apply it. I was
                        selected for a peer recognition award during my time at Horizons for a strong work ethic and love of learning, which was described as motivating other students to work harder
                        and longer than they otherwise would have.

                    </p>
                </div>
            </div>
            <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                    <img src="http://irl.cs.duke.edu/images/cslogo2.png" style="width: 50px; border: 2px solid white; margin-bottom: -13px; background-color: white;">
                    <h3>Teaching Assistant &mdash; Duke CS</h3>
                    <h5>January 2017 - Present</h5>
                    <p dir=ltr>I independently guided a recitation section through weekly prgoramming excercises and assignmetns. I served as a a technical resource during a recitation and during office hours for
                        students with questions about computer science principels and algorithmic, problem-solving, and programming techniques. This was a really rewarding chance for me to generate enthusiasm for
                        CS in students who were relatively new to programming. It also forced me to understand the concepts at a deeper level, given that I had to explain them clearly to my students.
                    </p>
                </div>
            </div>
            <div class="timeline-block timeline-block-right">
                <div class="marker"></div>
                <div class="timeline-content">
                    <img src="https://pbs.twimg.com/profile_images/532512265870639104/Y3AUHubw.png" style="width: 50px; border: 2px solid white; margin-bottom: -13px; background-color: white;">
                    <h3>Summer Intern</h3>
                    <h5>June 2016 - August 2016</h5>
                    <p dir=ltr>I was a jack-of-all trades intern for RocketBolt, an intelligent lead tracking B2B platform. I was in charge of managing customer outreach
                        and marketing efforts, and I got to see up close how a succesful startup gets built from the ground up. I conceived of and executed a novel guerrilla market Facebook campaign
                        that led to a 3,250% increase in users from May 8th to August 8th. RocketBolt was approached to join the 500 Startups accelerator in San Francisco in September 2016.
                    </p>
                </div>
            </div>
            <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                    <img src="https://riversagency.com/wp-content/themes/rivers-v4/images/work/dukeie/dukeie_logo.png" style="width: 50px; border: 2px solid white; margin-bottom: -13px; background-color: white;">
                    <h3>Duke in Silicon Valley</h3>
                    <h5>May 2016 - June 2016</h5>
                    <p dir=ltr>I was selected to take part in a unique opportunity through Duke's Innovation & Entrepreneurship program. In the mornings, we took a course adapted from Harvard Business School entitled Building and Sustaining a Successful Enterprise and learned about analyzing and implementing disruptive innovation strategy.
                        In the afternoons, we made visits to companies like Google, Facebook, Apple, PayPal, LinkedIn, Intuit, Canaan Partners, and more, where we got the chance to hear from some of the most succesful people in the valley and learn from their experiences. Duke in Silicon Valley was incredible, and I mark it as one of the
                        most special experiences of my life.
                    </p>
                </div>
            </div>
            <div class="timeline-block timeline-block-right">
                <div class="marker"></div>
                <div class="timeline-content">
                    <img src="./lib/img/timeline/poly.png" style="zoom: 300%; width: 50px; border: 1px solid white; margin-bottom: -5px; margin-top: -10px; background-color: white;">
                    <h3>Teaching Assistant &mdash; Poly Summer</h3>
                    <h5>June 2015 - August 2015</h5>
                    <p dir=ltr>I got the chance to be a teacher's assistant for math classes from 8:30am to 4pm daily as a part of Poly's summer school program. I worked with levels ranging from 5th grade fraction classes to pre-calculus for high schoolers, and I was fortunate to be paired with some of my favorite teachers that I'd had during my time at Poly. I guided students
                        in their subject matter by teaching them to reason through problems, and I helped my teachers by grading exams and working one-on-one with students who weren't being reached during normal class time.
                    </p>
                </div>
            </div>
            <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                    <img src="http://magnushealth.com/wp-content/uploads/2016/09/Poly_logo_colorPT144-232x300.jpg" style="width: 50px; border: 2px solid white; margin-bottom: -13px; background-color: white;">
                    <h3>Polytechnic School</h3>
                    <h5>Diploma Received June 2015</h5>
                    <p dir=ltr>I will forever be grateful for the experience that was going to Poly. I had some ridiculously impressive professors who instilled in me a love for learning, and my peers were some of the brightest, kindest, and most impressive people
                        I've ever met in my life. I can't wait for my our class reunion some day, as I'll be eager to see which of my classmates will have gone on to highly succesful things. It would be an understatement to say that Poly shaped a large part of who
                        I am today, and the intimate environment in which I was able to learn was exactly what I needed as a young adult. At graduation, I was selected for the Mary Ardis Schnebly Math Award for being the “most outstanding member of the senior class in math,”
                        the Parthenia Rath Spanish Award, for the “most outstanding performance of a senior in Spanish,” and The John Manley Award, which “is given to the senior who has shown marked improvement and has achieved excellence in English composition.”
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/reveal.js"></script>
<script>

Reveal.initialize({
	width: '100%', // ADDED BY BEN
	// height: '100%', // ADDED BY BEN
	height: '100%', // ADDED BY BEN
});

// for "Hey! I'm Ben."
var first = true
var state = Reveal.getState();
if (state.indexh === 1 && first) {
    first = false;
    autoType(".type-js",200);
} else {
    Reveal.addEventListener( 'type-name', function() {
        if (first) {
            autoType(".type-js",200);
            first = false;
        }
    }, false );
}

function autoType(elementClass, typingSpeed) {
    var thhis = $(elementClass);
    thhis.css({
        "position": "relative",
        "display": "inline-block"
    });
    thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
    thhis = thhis.find(".text-js");
    var text = thhis.text().trim().split('');
    var amntOfChars = text.length;
    var newString = "";
    thhis.text("|");
    setTimeout(function(){
        thhis.css("opacity",1);
        thhis.prev().removeAttr("style");
        for(var i = 0; i < amntOfChars; i++){
            (function(i,char){
                setTimeout(function() {
                    newString += char;
                    thhis.text(newString);
                },i*typingSpeed);
            })(i + 1,text[i]);
        }
    },1500);
}

</script>