<section class="center scrollable bg" style="padding-bottom: 50px;">
  <div class="grey-bg" style="padding-left: 200px; padding-right: 200px; padding-top: 40px; padding-bottom: 50px; margin-bottom: 80px;">
    <h1 class="page-title">About</h1>
    <img src="./lib/img/funme.png" class="prof-pic" style="float: right; margin-left: 30px; margin-bottom: 15px;">
    <div style="width: 100%;">
      <p class="plain-text" style="padding-bottom: 30px; font-size: 15px; font-family: 'Open Sans'; text-align: justify; text-justify: inter-word;">
        Welcome to my site! I'm a rising junior at Duke University, pursuing a B.S. in Computer Science with a B.A. in Spanish and a certificate in Innovation and Entrepreneurship. I shamelessly follow <a href="https://www.instagram.com/retrieverpuppies/" class="green-url">@retrieverpuppies</a> and <a href="https://www.instagram.com/puppyofday/" class="green-url">@puppyofday</a> on Instagram to be sure I get my daily dose of warm and fuzzy feelings, and I have an unparalleled love for Mexican food. I've been known to order my burgers with fried eggs on them but am open to the possibility of substituting the egg for bacon and BBQ sauce. I'm from Los Angeles (what's snow?) and have a pretty ~dope~ twin brother. Lastly, it wouldn't be a proper intro if I didn't mention how much I love basketball. I'm at just about every Duke basketball game, and I follow my hometown Lakers religiously. If there's anything I could talk as much about as computer science, it's basketball.
        <br><br>
        As far as the more technical side of things go, I have experience in full-stack development and love all things software engineering. CS is a field I know I'll never know everything about, and that intrigues me! I'm at a point in my life where I have the chance to gobble up so much information covering so many different angles of computer science,
        which drives me to constantly be learning. It's a great problem to have! You can get a flavor for the kind of work I've done technically both on this page and on my Projects page. Poke around my website to get to know more about me as a person and an engineer.
      </p>
    </div>
  </div>
  <div class="container" style="padding-left: 100px; padding-right: 100px; margin: auto;">
    <div class="timeline-block timeline-block-left">
      <div class="marker"></div>
      <div class="timeline-content">
        <img src="./lib/img/timeline/dr3.png">
        <h3>Delightful Reviews</h3>
        <h4>Software Engineering Intern</h4>
        <h5>July 2017 &ndash; August 2017</h5>
        <p dir=ltr>While working for Delightful Reviews, I got the chance to build some pretty core features of the product, including nearly the entirety of the promotions platform. Since the work I did for them was very much in Delightful Reviews' beta phase, I was able to take on huge amounts of responsibility
          and jump to solve problems that I found interesting or that I thought needed attention. I worked with PostgreSQL substantially (having had no experience with it before) and
          learned all the ins and outs of relational databases (joins, lookups, etc.). I also dabbled in Redis a bit, which is a super interesting in-memory data structure store that we used for SMS number to reviews mappings. It was ridiculously fun to inherit a substanial codebase
          and have to poke through it to understand the general flow and organization, decide where to write my code, and mesh with what had already been built. Almost 100% of the code I worked in was asynchronous (due to the plethora of database calls), so
          I had to manage JavaScript Promises constantly, be smart about my return values, and prevent race conditions at all costs. All in all, I found it to be an absolute joy. I have to say, I'm pretty hooked on backend!
        </p>
      </div>
    </div>
    <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
        <img src="./lib/img/timeline/h.png">
        <h3>Horizons</h3>
        <h4>Full-Stack Developer</h4>
        <h5>May 2017 &ndash; July 2017</h5>
        <p dir=ltr>Horizons was a chance for me to develop full-stack skills that I wouldn't otherwise have gotten to develop through my standard school curriculum. I learned about the most popular technologies in use
          today, such as React, React Native, Node.js, HTML, CSS, JQuery, Ajax, Express, MongoDB, and more. I now feel capable of building whatever I set my mind to build. I honestly think one of the
          biggest things I got out of Horizons was an ability to read documentation well, as simple as that sounds. I used to look at all documentation as pure gibberish, but now I'm able to pick out key information and apply it. I also got terrific experience
          working on projects as a team, as I was constantly working with new people every day. I was
          selected for a peer recognition award during my time at Horizons due to my a strong work ethic and love of learning, which was described as motivating other students to work harder
          and longer than they otherwise would have.

        </p>
      </div>
    </div>
    <div class="timeline-block timeline-block-left">
      <div class="marker"></div>
      <div class="timeline-content">
        <img src="./lib/img/timeline/du.png">
        <h3>Duke Computer Science</h3>
        <h4>Undergraduate Teaching Assistant</h4>
        <h5>January 2017 &ndash; Present</h5>
        <p dir=ltr>I independently guided a recitation section through weekly programming excercises and assignments. Additionally, I served as a technical resource during a recitation I led and during office hours for
          students with questions about computer science principles and algorithmic, problem-solving, and programming techniques. This was a really rewarding chance for me to generate enthusiasm for
          CS in students who were relatively new to the subject matter. It also forced me to understand the concepts at a deep level, given that I had to explain them clearly to my students.
        </p>
      </div>
    </div>
    <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
        <img src="./lib/img/timeline/r.png">
        <h3>RocketBolt</h3>
        <h4>Summer Intern</h4>
        <h5>June 2016 &ndash; August 2016</h5>
        <p dir=ltr>I was a jack-of-all trades intern for RocketBolt, an intelligent lead tracking B2B platform. I was in charge of managing customer outreach
          and marketing efforts, and I got to see up close how a succesful startup gets built from the ground up. I conceived of and executed a novel guerrilla marketing Facebook campaign
          that led to a 3,250% increase in users from May 8th to August 8th. RocketBolt was approached to join the 500 Startups accelerator in San Francisco in September 2016.
        </p>
      </div>
    </div>
    <div class="timeline-block timeline-block-left">
      <div class="marker"></div>
      <div class="timeline-content">
        <img src="./lib/img/timeline/ie2.png">
        <h3>Duke in Silicon Valley</h3>
        <h4>Student</h4>
        <h5>May 2016 &ndash; June 2016</h5>
        <p dir=ltr>I was selected to take part in a unique opportunity through Duke's Innovation & Entrepreneurship program. In the mornings, we took a course adapted from Harvard Business School entitled Building and Sustaining a Successful Enterprise and learned about analyzing and implementing disruptive innovation strategy.
          In the afternoons, we made visits to companies like Google, Facebook, Apple, PayPal, LinkedIn, Intuit, Canaan Partners, and more, where we got the chance to hear from some of the most succesful people in the valley and learn from their experiences. Duke in Silicon Valley was incredible, and I mark it as one of the
          most special experiences of my life.
        </p>
      </div>
    </div>
    <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
        <img src="./lib/img/timeline/p2.png">
        <h3>Poly Summer</h3>
        <h4>Teacher's Assistant</h4>
        <h5>June 2015 &ndash; August 2015</h5>
        <p dir=ltr>I got the chance to be a teacher's assistant for math classes as a part of Poly's summer school program. I worked with levels ranging from 5th grade fraction classes to pre-calculus for high schoolers, and I was fortunate to be paired with some of my favorite teachers that I'd had during my time at Poly. I guided students
          in their subject matter by teaching them to reason through problems, and I helped my teachers by grading exams and working one-on-one with students who weren't being reached during normal class time.
        </p>
      </div>
    </div>
    <div class="timeline-block timeline-block-left" style="margin-bottom: 20px;">
      <div class="marker"></div>
      <div class="timeline-content">
        <img src="./lib/img/timeline/p3.png">
        <h3>Polytechnic School</h3>
        <h5>Diploma Received June 2015</h5>
        <p dir=ltr>I will forever be grateful for the experience of attending Poly. I had some ridiculously impressive professors who instilled in me a love for learning, and my peers were some of the brightest, kindest, and most impressive people
          I've ever met in my life. I can't wait for my our class reunion some day, as I'll be eager to see which of my classmates will have gone on to great endeavors. It would be an understatement to say that Poly shaped a large part of who
          I am today, and the intimate environment in which I was able to learn was exactly what I needed as a young adult. At graduation, I was selected for the Mary Ardis Schnebly Math Award for being the “most outstanding member of the senior class in math,”
          the Parthenia Rath Spanish Award for the “most outstanding performance of a senior in Spanish,” and The John Manley Award, which “is given to the senior who has shown marked improvement and has achieved excellence in English composition.”
        </p>
      </div>
    </div>
  </div>
</section>