<section class="center scrollable bg">
  <div class="grey-bg" style="padding-left: 200px; padding-right: 200px; padding-top: 40px; margin-bottom: 80px;">
    <h1 class="page-title">Projects & Competitions</h1>

    <p class="plain-text" style="padding-bottom: 60px; font-size: 15px; font-family: 'Open Sans'; text-align: justify; text-justify: inter-word;">
      Here are some of the things I've worked on. Click anywhere on a card to open it up and check it out, and at bottom of the page you can read about some
      competitions I've participated in. If you're looking for a place to start, I'd recommend a project that's on a colored card. Those are the projects I'm most proud of!
    </p>
  </div>
</section>