<section data-background-image="./lib/img/green_blue.png" class="center scrollable"> <!-- need center scrollable once too long -->
    <div style="padding-left: 200px; padding-right: 200px">
        <h4 style="text-transform: none;">Campus Involvement</h4>
        <p style="font-size: 20px;"><u><strong>Student Organization Finance Committee (SOFC)</strong></u>: While not technical, I've been involved with SOFC since my freshman year. SOFC is an entirely student-run branch of the Duke Student Government
            responsible for the funding and recognition of student groups. SOFC provides programming funding as well as annual budget funding from an a annual pool of over $750,000. I was nominated as the Vice Chair of Programming for the duration of my sophomore
            year. I directly oversaw and managed approximately $400,000+ and was responsible for transferring money to student groups, being a leading voice during deliberations, and making organizational decisions along with the Chair
            of the commmittee. It's a joy to feel like I have an impact on the direction Duke's campus culture, and it's very rewarding to help students make their visions become realities.
        </p>
        <hr class="style14">
        <p style="font-size: 20px;"><u><strong>Duke Catalyst</strong></u>: Catalyst is Duke's first social and pre-professional tech organization. I was selected from a competitive applicant pool for the inaugural Catalyst class due to my strong interest and dedication to tech. I've attended
            presentations and workshops focused on data science, UX/UI design, software engineering, machine learning, and artificial intelligence. Most importantly, I'm surrounded by a group of people who share my passion and who are technical resources and mentors
            as I continue my college and early-career journey.
        </p>
        <hr class="style14">
        <p style="font-size: 20px;"><u><strong>Duke Computer Science Teacher's Assistant</strong></u>: I independently guided a recitation section through weekly programming excercises and assignments. Additionally, I served as a technical resource during a recitation I led and during office hours for students with questions about computer science principles and algorithmic, problem-solving, and programming techniques. This was a really rewarding chance for me to generate enthusiasm for CS in students who were relatively new to the subject matter. It also forced me to understand the concepts at a deep level, given that I had to explain them clearly to my students.</p>
        <hr class="style14">
        <p style="font-size: 20px;"><u><strong>Innoworks Duke</strong></u>: Duke Innoworks is a STEM camp that promotes the natural sciences to underpriveledged middle and high school students by bringing them on campus and
            demonstrating the possibilities of science through engaging lectures, labs, and experiments. I was assigned a group of five students who I interacted with directly as a mentor and a friend, answering questions as they arose and interacting with them during breaks. Bottom line: these
            kids are awesome and have such genuine curiosity, and I certainly hope we have a future science stud among the bunch!
        </p>
    </div>
</section>