<section data-background-image="./lib/img/green_blue.png" class="center scrollable"> <!-- need center scrollable once too long -->
    <h4 style="text-transform: none;">Contact</h4>

    <div>
        <iframe src="/contact.html" class="contact-frame" scrolling="no"> </iframe>
    </div>

    <p style="font-size: 25px; padding-left: 200px; padding-right: 200px" id="cm" class="">I encourage you to reach out! I'm guessing you were brought here by a shared passion with me for computer science, and I would love to talk to you for any reason. If you're a Duke or a Poly student and you have questions about anything or just want to catch up, let's do it. Lunch, dinner, coffee? You name it; I'm there.</p>
</section>