<section data-background-image="../lib/img/green_blue.png" class="center">
    <div>
        <img src="./lib/img/funme.jpg" class="prof-pic">
        <div><strong style="font-size: 150%;">Ben Hubsch</strong></div>
        <!-- <span class="right-arrow" onclick="Reveal.right()"></span>
        <span class="left-arrow" onclick="Reveal.left()"></span> -->
        <div>Software Engineer&nbsp; &bull; &nbsp;Duke University</div>
        <link rel="stylesheet" href="../assets/css/main.css" />
        <header id="header">
            <nav>
                <ul class="smaller-icons">
                    <li><a href="https://www.github.com/benhubsch" class="icon fa-github"><span class="label">Github</span></a></li>
                    <li><a href="https://www.linkedin.com/in/benhubsch" class="icon fa-linkedin"><span class="label">Github</span></a></li>
                    <li><a href="mailto:benjamin.hubsch@duke.edu" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
            </nav>
        </header>
    </div>
</section>
