<section data-background-image="/./lib/img/green_blue.png" class="center scrollable"> <!-- need center scrollable once too long -->
    <h4 style="margin-bottom: 5px; text-transform: none;">Projects and Competitions</h4>
    <p class="plain-text" style="padding-bottom: 30px; font-size: 20px; color: white;">Here are some of the things I've worked on. Click anywhere on a card to open it up and check it out, and at bottom of the page you can read about some competitions I've participated in.<p>
    <div id="wrapper" class="loaded">
        <div id="content" class="column-format">
            <div id="card" class="card1">
                <div id="front" class="front1">
                    <div id="top-pic" style="background-image: url('https://kiteapp.co/assets/slack-video-example.png')"></div>
                    <div id="info-box" style="background-color: #01C6D4">
                        <div class="info">
                            <h2 style="zoom: 130%; margin-bottom: 60px;">Slack Pizza App</h2>
                            <h3 style="text-transform: none;">Slack Real-Time Messaging API, Dominos Pizza API, Google Geocode API, Natural Language Processing, Express, Handlebars, MongoDB (Javascript)</h3>
                        </div>
                    </div>
                </div>
                <div id="back" class="scrollable">
                    <div class="back-info">
                        <p style="color: black;" class="back1">This was a really fun project I did with some friends that brought together a lot of what I know. We built an application for users to order Dominos pizza directly from within Slack.
                            We used a database (MongoDB) to remember returning customers, and we trained an agent on api.ai to keep conversation flow natural. We also needed to build a lightweight of a front-end
                            in order to process user payment information because Slack doesn't provide support for forms internally. The toughest part of the project was dealing with the asynchronous nature of a lot of the
                            API calls we were relying on, which I solved by writing promises to prevent getting stuck in callback misery. We also had to have two processes running simultaneously (for both the Slack bot and our
                            backend payment processing), which we meshed by saving and pulling information to and from a database on both ends as it was needed.
                        </p>
                    </div>
                    <form action="https://github.com/benhubsch/SlackPizza">
                        <button class="github-button">View on Github</button>
                    </form>
                </div>
            </div>
            <div id="card" class="card2">
                <div id="front" class="front2">
                    <div id="top-pic" style="background-image: url('http://images.techhive.com/images/article/2013/12/terminal-100220826-large.jpg')"></div>
                    <div id="info-box" style="background-color: #9a9d9e;">
                        <div class="info">
                            <h2 style="zoom: 130%; margin-bottom: 60px; color: white">Command Line File Finder</h2>
                            <h3 style="text-transform: none; color: white">Click Library, setuptools (Python)</h3>
                        </div>
                    </div>
                </div>
                <div id="back">
                    <div class="back-info">
                        <p style="color: black;" class="back2">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                    </div>
                </div>
            </div>
            <div id="card" class="card3">
                <div id="front">
                    <div id="top-pic" style="background-color: white; background-image: url('https://cdn.kastatic.org/images/badges/cs/html_css_mastery_badge-512x512.png')"></div>
                    <div id="info-box" style="background-color: #72964A; opacity: 0.8">
                        <div class="info">
                            <h2 style="zoom: 130%; margin-bottom: 60px;">benhubsch.me</h2>
                            <h3 style="text-transform: none;">HTML5, CSS3, JQuery, Express, Handlebars (Javascript)</h3>
                        </div>
                    </div>
                </div>
                <div id="back">
                    <div class="back-info">
                        <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                    </div>
                </div>
            </div>
            <div id="card" class="card4">
                <div id="front">
                    <div id="top-pic" style="background-image: url('http://imgur.com/aPKaSyd.jpg')"></div>
                    <div id="info-box" style="background-color: #ff4500; opacity: 0.8">
                        <div class="info">
                            <h2 style="zoom: 130%; margin-bottom: 60px;">Reddit Translation Bot</h2>
                            <h3 style="text-transform: none;">Reddit API, Google Translate API (Python)</h3>
                        </div>
                    </div>
                </div>
                <div id="back">
                    <div class="back-info">
                        <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="wrapper" class="loaded">
            <div id="content" class="column-format">
                <div id="card" class="card8">
                    <div id="front">
                        <div id="top-pic" style="background-image: url('http://media.istockphoto.com/photos/green-microchip-set-in-a-blue-printed-circuit-board-picture-id178487234?k=6&m=178487234&s=612x612&w=0&h=jCMPDYJbJuWBzdf62-AuOREB_OcYxlubsFSl66wmmno=')"></div>
                        <div id="info-box" style="background-color: #1D6AEA; opacity: 1">
                            <div class="info">
                                <h2 style="zoom: 130%; margin-bottom: 60px;">16-bit Processor</h2>
                                <h3 style="text-transform: none;">(MIPS)</h3>
                            </div>
                        </div>
                    </div>
                    <div id="back">
                        <div class="back-info">
                            <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                        </div>
                    </div>
                </div>
                <div id="card" class="card6">
                    <!-- <div class="margins"> -->
                    <div id="front">
                        <div id="top-pic" style="background-color: white; background-image: url('https://www.echosteg.com/images/blog/standard/nodejs_logo.png')"></div>
                        <div id="info-box" style="background-color: #76a32f;">
                            <div class="info">
                                <h2 style="zoom: 130%; margin-bottom: 60px; color: white">Express Framework Rebuilt</h2>
                                <h3 style="text-transform: none; color: white">Click Library, setuptools (Python)</h3>
                            </div>
                        </div>
                    </div>
                    <div id="back">
                        <div class="back-info">
                            <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                        </div>
                    </div>
                </div>
                <div id="card" class="card9">
                    <div id="front">
                        <div id="top-pic" style="background-color: grey; background-image: url('http://www.realhardtechx.com/index_archivos/images/news/haswell_E_3.png')"></div>
                        <div id="info-box" style="background-color: #C3659B;">
                            <div class="info">
                                <h2 style="zoom: 130%; margin-bottom: 60px;">Cache Simulator</h2>
                                <h3 style="text-transform: none;">(Java)</h3>
                            </div>
                        </div>
                    </div>
                    <div id="back">
                        <div class="back-info">
                            <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                        </div>
                    </div>
                </div>
                <div id="card" class="card5">
                    <div id="front">
                        <div id="top-pic" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Sudoku_Puzzle_by_L2G-20050714_standardized_layout.svg/1200px-Sudoku_Puzzle_by_L2G-20050714_standardized_layout.svg.png')"></div>
                        <div id="info-box" style="background-color: #000">
                            <div class="info">
                                <h2 style="zoom: 130%; margin-bottom: 60px;">Sudoku Solver</h2>
                                <h3 style="text-transform: none;">(Java)</h3>
                            </div>
                        </div>
                    </div>
                    <div id="back">
                        <div class="back-info">
                            <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper" class="loaded">
            <div id="content" class="column-format">
                <div id="card" class="card7">
                    <div id="front">
                        <div id="top-pic" style="background-color: white; background-image: url('https://g.twimg.com/about/feature-corporate/image/twitterbird_RGB.png')"></div>
                        <div id="info-box" style="background-color: #6FAEDC;">
                            <div class="info">
                                <h2 style="zoom: 130%; margin-bottom: 60px;">Twitter Map Visualization</h2>
                                <h3 style="text-transform: none;">Twitter Stream API, D3.js (Javascript)</h3>
                            </div>
                        </div>
                    </div>
                    <div id="back">
                        <div class="back-info">
                            <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 35px; padding-bottom: 35px;">
            <span class="ss-style-dots"></span> <span class="ss-style-dots"></span> <span class="ss-style-dots"></span>
        </div>
        <div style="padding-left: 150px; padding-right: 150px">
            <div style="font-size:25px; margin-bottom: 10px;">
                <u>Google Code Jam</u>
                <div style="font-size: 20px;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </div>
            </div>
            <div style="font-size:25px; margin-bottom: 10px;">
                <u>Citadel Securities Datathon</u>
                <div style="font-size: 20px;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </div>
            </div>
            <div style="font-size:25px; margin-bottom: 10px;">
                <u>Expedia DataFest@Duke</u>
                <div style="font-size: 20px;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </div>
            </div>
            <div style="font-size:25px; margin-bottom: 10px;">
                <u>Horizons Hackathon</u>
                <div style="font-size: 20px;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </div>
            </div>
            <div style="font-size:25px; margin-bottom: 10px;">
                <u>Jane Street Electronic Trading Challenge</u>
                <div style="font-size: 20px;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </div>
            </div>
            <div style="font-size:25px; margin-bottom: 10px;">
                <u>AngelHack SF Hackathon</u>
                <div style="font-size: 20px;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </div>
            </div>
            <div style="font-size:25px; margin-bottom: 10px;">
                <u>Duke Catalyst HackerRank Month of Code</u>
                <div style="font-size: 20px;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </div>
            </div>
        </div>
        <script>
        $('.front1').click(function(){
            $(".card1").toggleClass('flip');
        });
        $('.back1').click(function(){
            $(".card1").toggleClass('flip');
        });
        $('.front2').click(function(){
            $(".card2").toggleClass('flip');
        });
        $('.back2').click(function(){
            $(".card2").toggleClass('flip');
        });
        </script>
    </section>