<section data-background-image="/./lib/img/green_blue.png" class="center scrollable"> <!-- need center scrollable once too long -->
    <h4 style="margin-bottom: 5px; text-transform: none;">Projects and Competitions</h4>
    <p class="plain-text" style="padding-bottom: 30px; font-size: 20px; color: white;">Here are some of the things I've worked on. Click anywhere on a card to open it up and check it out, and at bottom of the page you can read about some competitions I've participated in.<p>
    <div id="wrapper" class="loaded">
        <div id="content" class="column-format">
            <div id="card" class="card1">
                <div id="front">
                    <div id="top-pic" style="background-image: url('https://kiteapp.co/assets/slack-video-example.png')"></div>
                    <div id="info-box" style="background-color: #01C6D4">
                        <div class="info">
                            <h2 style="zoom: 130%; margin-bottom: 60px;">Slack Pizza App</h2>
                            <h3 style="text-transform: none;">Slack Real-Time Messaging API, Dominos Pizza API, Google Geocode API, api.ai Natural Language Processing (Javascript)</h3>
                        </div>
                    </div>
                </div>
                <div id="back">
                    <div class="back-info">
                        <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                    </div>
                </div>
            </div>
            <div id="card" class="card2">
                <!-- <div class="margins"> -->
                <div id="front">
                    <div id="top-pic" style="background-image: url('http://images.techhive.com/images/article/2013/12/terminal-100220826-large.jpg')"></div>
                    <div id="info-box" style="background-color: #9a9d9e;">
                        <div class="info">
                            <h2 style="zoom: 130%; margin-bottom: 60px; color: white">Command Line File Finder</h2>
                            <h3 style="text-transform: none; color: white">Click Library, setuptools (Python)</h3>
                        </div>
                    </div>
                </div>
                <div id="back">
                    <div class="back-info">
                        <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                    </div>
                </div>
            </div>
            <div id="card" class="card3">
                <div id="front">
                    <div id="top-pic" style="background-color: white; background-image: url('https://cdn.kastatic.org/images/badges/cs/html_css_mastery_badge-512x512.png')"></div>
                    <div id="info-box" style="background-color: #72964A; opacity: 0.8">
                        <div class="info">
                            <h2 style="zoom: 130%; margin-bottom: 60px;">benhubsch.me</h2>
                            <h3 style="text-transform: none;">HTML5, CSS3, JQuery, Express, Handlebars (Javascript)</h3>
                        </div>
                    </div>
                </div>
                <div id="back">
                    <div class="back-info">
                        <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                    </div>
                </div>
            </div>
            <div id="card" class="card4">
                <div id="front">
                    <div id="top-pic" style="background-image: url('http://imgur.com/aPKaSyd.jpg')"></div>
                    <div id="info-box" style="background-color: #ff4500; opacity: 0.8">
                        <div class="info">
                            <h2 style="zoom: 130%; margin-bottom: 60px;">Reddit Translation Bot</h2>
                            <h3 style="text-transform: none;">Reddit API + Google Translate API (Python)</h3>
                        </div>
                    </div>
                </div>
                <div id="back">
                    <div class="back-info">
                        <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="wrapper" class="loaded">
            <div id="content" class="column-format">
                <div id="card" class="card5">
                    <div id="front">
                        <div id="top-pic" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Sudoku_Puzzle_by_L2G-20050714_standardized_layout.svg/1200px-Sudoku_Puzzle_by_L2G-20050714_standardized_layout.svg.png')"></div>
                        <div id="info-box" style="background-color: #000">
                            <div class="info">
                                <h2 style="zoom: 130%; margin-bottom: 60px;">Sudoku Solver</h2>
                                <h3 style="text-transform: none;">(Java)</h3>
                            </div>
                        </div>
                    </div>
                    <div id="back">
                        <div class="back-info">
                            <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                        </div>
                    </div>
                </div>
                <div id="card" class="card6">
                    <!-- <div class="margins"> -->
                    <div id="front">
                        <div id="top-pic" style="background-color: white; background-image: url('https://www.echosteg.com/images/blog/standard/nodejs_logo.png')"></div>
                        <div id="info-box" style="background-color: #76a32f;">
                            <div class="info">
                                <h2 style="zoom: 130%; margin-bottom: 60px; color: white">Express Framework Rebuilt</h2>
                                <h3 style="text-transform: none; color: white">Click Library, setuptools (Python)</h3>
                            </div>
                        </div>
                    </div>
                    <div id="back">
                        <div class="back-info">
                            <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                        </div>
                    </div>
                </div>
                <div id="card" class="card7">
                    <div id="front">
                        <div id="top-pic" style="background-color: white; background-image: url('https://g.twimg.com/about/feature-corporate/image/twitterbird_RGB.png')"></div>
                        <div id="info-box" style="background-color: #6FAEDC;">
                            <div class="info">
                                <h2 style="zoom: 130%; margin-bottom: 60px;">Twitter Map Visualization</h2>
                                <h3 style="text-transform: none;">Twitter</h3>
                            </div>
                        </div>
                    </div>
                    <div id="back">
                        <div class="back-info">
                            <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                        </div>
                    </div>
                </div>
                <div id="card" class="card8">
                    <div id="front">
                        <div id="top-pic" style="background-image: url('http://imgur.com/aPKaSyd.jpg')"></div>
                        <div id="info-box" style="background-color: #ff4500; opacity: 0.8">
                            <div class="info">
                                <h2 style="zoom: 130%; margin-bottom: 60px;">Reddit Translation Bot</h2>
                                <h3 style="text-transform: none;">Reddit API + Google Translate API (Python)</h3>
                            </div>
                        </div>
                    </div>
                    <div id="back">
                        <div class="back-info">
                            <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper" class="loaded">
            <div id="content" class="column-format">
                <div id="card" class="card9">
                    <div id="front">
                        <div id="top-pic" style="background-image: url('http://imgur.com/aPKaSyd.jpg')"></div>
                        <div id="info-box" style="background-color: #ff4500; opacity: 0.8">
                            <div class="info">
                                <h2 style="zoom: 130%; margin-bottom: 60px;">Reddit Translation Bot</h2>
                                <h3 style="text-transform: none;">Reddit API + Google Translate API (Python)</h3>
                            </div>
                        </div>
                    </div>
                    <div id="back">
                        <div class="back-info">
                            <p style="color: black;">My name is Jesse Couch, and I am an award winning, intensely creative, coffee-fueled front-end web designer and developer. My style and approach are very straight-forward — I obsess about keeping things as simple as humanly possible. That's it. If you like bells and whistles for the sake of bells and whistles, look elsewhere - but if you want to remain laser-focused on the goals for your new website, it's time time to talk.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 35px; padding-bottom: 35px;">
            <span class="ss-style-dots"></span> <span class="ss-style-dots"></span> <span class="ss-style-dots"></span>
        </div>
        <div style="padding-left: 200px; padding-right: 200px">
            <div style="font-size:30px; margin-bottom: 10px;">
                Google Code Jam
                <div style="font-size: 20px;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </div>
            </div>
            <div style="font-size:30px; margin-bottom: 10px;">
                Google Code Jam
                <div style="font-size: 20px;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </div>
            </div>
            <div style="font-size:30px; margin-bottom: 10px;">
                Google Code Jam
                <div style="font-size: 20px;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </div>
            </div>
        </div>
        <script>
        $('.card1').click(function(){
            $(".card1").toggleClass('flip');
            $('#arrow').remove();
        });
        $('.card2').click(function(){
            $(".card2").toggleClass('flip');
            $('#arrow').remove();
        });
        $('.card3').click(function(){
            $(".card3").toggleClass('flip');
            $('#arrow').remove();
        });
        $('.card4').click(function(){
            $(".card4").toggleClass('flip');
            $('#arrow').remove();
        });
        $('.card5').click(function(){
            $(".card5").toggleClass('flip');
            $('#arrow').remove();
        });
        $('.card6').click(function(){
            $(".card6").toggleClass('flip');
            $('#arrow').remove();
        });
        $('.card7').click(function(){
            $(".card7").toggleClass('flip');
            $('#arrow').remove();
        });
        $('.card8').click(function(){
            $(".card8").toggleClass('flip');
            $('#arrow').remove();
        });
        $('.card9').click(function(){
            $(".card9").toggleClass('flip');
            $('#arrow').remove();
        });
        </script>
    </section>