<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<section class="center scrollable bg">
  <div class="grey-bg" style="padding-left: 200px; padding-right: 200px; padding-top: 40px; margin-bottom: 80px;">
    <h1 class="page-title">Projects & Competitions</h1>

    <p class="plain-text" style="padding-bottom: 60px; font-size: 15px; font-family: 'Open Sans'; text-align: justify; text-justify: inter-word;">
      Here are some of the things I've worked on. Click anywhere on a card to open it up and check it out, and at bottom of the page you can read about some
      competitions I've participated in. If you're looking for a place to start, I'd recommend a project that's on a colored card. Those are the projects I'm most proud of!
    </p>
  </div>
  <div id="wrapper" class="loaded">
    <div id="content" class="column-format">
      <div id="card" class="card1">
        <div id="front" class="front1">
          <div id="top-pic" style="background-image: url('./lib/img/projects/slack2.png')"></div>
          <div id="info-box" style="background-color: #01C6D4">
            <div class="info">
              <h2 style="zoom: 130%; margin-bottom: 60px;">Slack Pizza App</h2>
              <h3 style="text-transform: none;">Slack Real Time Messaging API, Dominos Pizza API, Google Geocode API, Natural Language Processing, Express, Handlebars, MongoDB (JavaScript)</h3>
            </div>
          </div>
        </div>
        <div id="back" class="back1" style="padding-top: 100px;">
          <p class="plain-text" style="font-family: 'Open Sans';">A language-aware, intelligent Slack app to allow teams to order Dominos pizza via a multi-step, natural conversation flow from directly within Slack.</p>
          <a href="https://github.com/benhubsch/SlackPizza" target="_blank">
            <div class="ghub" style="padding-top: 50px;">
              <i class="fa fa-github fa-3x" aria-hidden="true" style="float: left;"></i>
              <p class="plain-text" style="font-size: 20px; padding-top: 6px; font-family: 'Open Sans';">View on Github</p>
            </div>
          </a>
        </div>
      </div>
      <div id="card" class="card12">
        <div id="front" class="front12">
          <div id="top-pic" style="background-image: url('./lib/img/projects/parro2.png')"></div>
          <div id="info-box" style="background-color: #3A88B2;">
            <div class="info">
              <h2 style="zoom: 130%; margin-bottom: 60px;">Parro</h2>
              <h3 style="text-transform: none;">IBM Watson (Tone Analyzer, Speech to Text, Text to Speech), ReactJS, glot.io, api.ai, MongoDB, bulma.io, Node.js, Express.js (JavaScript)</h3>
            </div>
          </div>
        </div>
        <div id="back" class="back12" style="padding-top: 100px;">
          <p class="plain-text" style="font-family: 'Open Sans';">A technical interviewing platform capable of asking both behavioral and technical questions and analysing a candidate's performance intelligently.</p>
          <a href="https://github.com/benhubsch/Parro" target="_blank">
            <div class="ghub" style="padding-top: 50px;">
              <i class="fa fa-github fa-3x" aria-hidden="true" style="float: left;"></i>
              <p class="plain-text" style="font-size: 20px; padding-top: 6px; font-family: 'Open Sans';">View on Github</p>
            </div>
          </a>
        </div>
      </div>
      <div id="card" class="card2">
        <div id="front" class="front2">
          <div id="top-pic" style="background-image: url('./lib/img/projects/terminal3.png')"></div>
          <div id="info-box" style="background-color: #89d86c;">
            <div class="info">
              <h2 style="zoom: 130%; margin-bottom: 60px; color: white">Command Line File Finder</h2>
              <h3 style="text-transform: none; color: white">Click Library, setuptools (Python)</h3>
            </div>
          </div>
        </div>
        <div id="back" class="back2" style="padding-top: 100px;">
          <p class="plain-text" style="font-family: 'Open Sans';">A command-line program that automates finding and opening files and directories and removes the hassle of searching for them manually.</p>
          <a href="https://github.com/benhubsch/File-Finder" target="_blank">
            <div class="ghub" style="padding-top: 50px;">
              <i class="fa fa-github fa-3x" aria-hidden="true" style="float: left;"></i>
              <p class="plain-text" style="font-size: 20px; padding-top: 6px; font-family: 'Open Sans';">View on Github</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="wrapper" class="loaded">
    <div id="content" class="column-format">
      <div id="card" class="card4">
        <div id="front" class="front4">
          <div id="top-pic" style="background-image: url('./lib/img/projects/reddit.png')"></div>
          <div id="info-box" style="background-color: #ED5529;">
            <div class="info">
              <h2 style="zoom: 130%; margin-bottom: 60px;">Reddit Translation Bot</h2>
              <h3 style="text-transform: none;">Reddit API, Google Translate API (Python)</h3>
            </div>
          </div>
        </div>
        <div id="back" class="back4" style="padding-top: 100px;">
          <p class="plain-text" style="font-family: 'Open Sans';">A bot that translates the text of any post or comment when called from any language to any language.</p>
          <a href="https://github.com/benhubsch/Reddit-Translation-Bot?" target="_blank">
            <div class="ghub" style="padding-top: 50px;">
              <i class="fa fa-github fa-3x" aria-hidden="true" style="float: left;"></i>
              <p class="plain-text" style="font-size: 20px; padding-top: 6px; font-family: 'Open Sans';">View on Github</p>
            </div>
          </a>
        </div>
      </div>
      <div id="card" class="card11">
        <div id="front" class="front11">
          <div id="top-pic" style="background-image: url('./lib/img/projects/atom.png')"></div>
          <div id="info-box" style="background-color: #50AB65">
            <div class="info">
              <h2 style="zoom: 130%; margin-bottom: 60px;">Atom Package</h2>
              <h3 style="text-transform: none;">Urlbox API, Atom, Atom Package Manager, HTML5, CSS3 (JavaScript)</h3>
            </div>
          </div>
        </div>
        <div id="back" class="back11" style="padding-top: 100px;">
          <p class="plain-text" style="font-family: 'Open Sans';">An Atom package that allows users to search for answers on Stack Overflow from within their text editor.</p>
          <a href="https://github.com/benhubsch/Stack-Overflow-Atom-Package" target="_blank">
            <div class="ghub" style="padding-top: 50px;">
              <i class="fa fa-github fa-3x" aria-hidden="true" style="float: left;"></i>
              <p class="plain-text" style="font-size: 20px; padding-top: 6px; font-family: 'Open Sans';">View on Github</p>
            </div>
          </a>
        </div>
      </div>

      <div id="card" class="card3">
        <div id="front" class="front3">
          <div id="top-pic" style="background-image: url('./lib/img/projects/web.png')"></div>
          <div id="info-box" style="background-color: #72964A; opacity: 0.8">
            <div class="info">
              <h2 style="zoom: 130%; margin-bottom: 60px;">benhubsch.me</h2>
              <h3 style="text-transform: none;">HTML5, CSS3, JQuery, Express, Handlebars (JavaScript)</h3>
            </div>
          </div>
        </div>
        <div id="back" class="back3" style="padding-top: 100px;">
          <p class="plain-text" style="font-family: 'Open Sans';">You're on it! This is my personally website, which I built completely from scratch.</p>
          <a href="https://github.com/benhubsch/PersonalWebsite" target="_blank">
            <div class="ghub" style="padding-top: 65px;">
              <i class="fa fa-github fa-3x" aria-hidden="true" style="float: left;"></i>
              <p class="plain-text" style="font-size: 20px; padding-top: 6px; font-family: 'Open Sans';">View on Github</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="wrapper" class="loaded">
    <div id="content" class="column-format">
      <div id="card" class="card10">
        <div id="front" class="front10">
          <div id="top-pic" style="background-image: url('./lib/img/projects/huff.png')"></div>
          <div id="info-box" style="background-color: #ccc7c7;">
            <div class="info">
              <h2 style="zoom: 130%; margin-bottom: 60px;">Huffman Decompression</h2>
              <h3 style="text-transform: none;">(Java)</h3>
            </div>
          </div>
        </div>
        <div id="back" class="back10" style="padding-top: 50px;">
          <p class="plain-text" style="font-family: 'Open Sans';">This was a lossless compression program I wrote by converting the bit contents of any file to a Huffman tree, which could be stored at a fraction of the space as the original, uncompressed file. It also implemented
            functionality to decompress any file that had been compressed.
          </p>
          <a href="https://github.com/benhubsch/Huff" target="_blank">
            <div class="ghub" style="padding-top: 25px;">
              <i class="fa fa-github fa-3x" aria-hidden="true" style="float: left;"></i>
              <p class="plain-text" style="font-size: 20px; padding-top: 6px; font-family: 'Open Sans';">View on Github</p>
            </div>
          </a>
        </div>
      </div>
      <div id="card" class="card8">
        <div id="front" class="front8">
          <div id="top-pic" style="background-image: url('./lib/img/projects/cpu.png')"></div>
          <div id="info-box" style="background-color: #ccc7c7; opacity: 1">
            <div class="info">
              <h2 style="zoom: 130%; margin-bottom: 60px;">16-bit Processor</h2>
              <h3 style="text-transform: none;">(MIPS)</h3>
            </div>
          </div>
        </div>
        <div id="back" class="back8 scrollable" style="padding-top: 30px;">
          <p class="plain-text" style="font-family: 'Open Sans';">This was as nitty gritty into hardware as I've ever gotten, and it was also unbelievably rewarding. I digitally implemented a processor able to execute some of the most common instructions in the MIPS instruction set.
            My processor implemented elements like an ALU, a register file, a memory store (IMEM and DMEM), a couple of input and output components, control, and a heck of a lot of wires. There's really no better way to understand the basics of how a computer executes instructions than <body>
              by actually doing it, so I'm glad to have gone through the process. There were so many little details that could have gotten lost (and did get lost), but I also had a major rush of adrenaline when everything finally hummed along smoothly.
            </p>
          </div>
        </div>
        <div id="card" class="card6">
          <div id="front" class="front6">
            <div id="top-pic" style="background-image: url('./lib/img/projects/express.png')"></div>
            <div id="info-box" style="background-color: #ccc7c7;">
              <div class="info">
                <h2 style="zoom: 130%; margin-bottom: 60px; color: white">Express Framework Rebuilt</h2>
                <h3 style="text-transform: none; color: white">(JavaScript)</h3>
              </div>
            </div>
          </div>
          <div id="back" class="back6 scrollable" style="padding-top: 30px;">
            <p class="plain-text" style="font-family: 'Open Sans';">I rebuilt the basics of express.js (implementing methods like listen, get, post, send, render, use) to help myself understand how Express works behind the scenes. Before this project, I didn't feel like I understood middleware, routing, or internet protocols all that well, and now I do. I think it's fun to
              peel away the black box that applications sometimes live in and really understand how they work and why they're written the way they are. When I started working on a function for my get method, I couldn't for the life of me figure out how
              I was going to be able to execute the callback once all of the routes had been registered. Eventually I realized that I could just use an object and keep track of the routes and their respective callbacks when they were registered, which seems so obvious in retrospect.
              Obviously Express is a super popular framework, but I think a lot of people (myself included) fall into a trap of treating some software like magic when it's not.
            </p>
            <a href="https://github.com/benhubsch/Express-Rebuilt" target="_blank">
              <div class="ghub" style="padding-top: 25px;">
                <i class="fa fa-github fa-3x" aria-hidden="true" style="float: left;"></i>
                <p class="plain-text" style="font-size: 20px; padding-top: 6px; font-family: 'Open Sans';">View on Github</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="wrapper" class="loaded" style="padding-bottom: 50px;">
      <div id="content" class="column-format">
        <div id="card" class="card9">
          <div id="front" class="front9">
            <div id="top-pic" style="background-image: url('./lib/img/projects/cache.png')"></div>
            <div id="info-box" style="background-color: #ccc7c7;">
              <div class="info">
                <h2 style="zoom: 130%; margin-bottom: 60px;">Cache Simulator</h2>
                <h3 style="text-transform: none;">(Java)</h3>
              </div>
            </div>
          </div>
          <div id="back" class="back9 scrollable" style="padding-top: 30px;">
            <p class="plain-text" style="font-family: 'Open Sans';">I implemented a cache simulator in Java that takes as input the block size and the cache configuration, which includes the overall size of the cache in KB, the associativity, and whether the cache is writeback and write-allocate or writethrough and
              write-no-allocate. The replacement policy for this cache is LRU, which I implemented using Linked Lists. This allowed me to add new blocks to the front of the list when they were brought into the cache and removed blocks from the end of if and when the set became full.
              This was really good practice in understanding how computers can become more efficient and what tradeoffs an architect can make.
            </p>
          </div>
        </div>
        <div id="card" class="card5">
          <div id="front" class="front5">
            <div id="top-pic" style="background-image: url('./lib/img/projects/sudoku.png')"></div>
            <div id="info-box" style="background-color: #ccc7c7">
              <div class="info">
                <h2 style="zoom: 130%; margin-bottom: 60px;">Sudoku Solver</h2>
                <h3 style="text-transform: none;">(Java)</h3>
              </div>
            </div>
          </div>
          <div id="back" class="back5 scrollable" style="padding-top: 30px;">
            <p class="plain-text" style="font-family: 'Open Sans';">I implemented this Sudoku Solver using a backtracking algorithm after being inspired by the N Queens problem in class. It struck me as such a useful algorithm and I wanted to become familiar with it. I ended up using
              a variation of this algorithm for a Google Code Jam problem about arranging horses of different mane colors in certain stalls.
            </p>
            <a href="https://github.com/benhubsch/Express-Rebuilt" target="_blank">
              <div class="ghub" style="padding-top: 25px;">
                <i class="fa fa-github fa-3x" aria-hidden="true" style="float: left;"></i>
                <p class="plain-text" style="font-size: 20px; padding-top: 6px; font-family: 'Open Sans';">View on Github</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 60px 0px;" class="blue-bg">
      <div class="comp-row" style="margin-bottom: 40px;">
        <div class="comp-container">
          <img src="./lib/img/comps/newangel.png" class="comp-logo">
          <h3>AngelHack Silicon Valley</h3>
          <h5>San Mateo, CA</h5>
          <h5>July 2017</h5>
          <p>AngelHack was a chance for me to be on a team of people I really admire, and I think an interesting, technically challenging product came out of it (Parro, which you can find higher up on my projects page). There were five of us on the team, and I think we did a good job of dividing
            the labor so that everybody was working on something the whole time. I took the lead on the technical interview side of the project, working to get a text editor into our product in which we could run code in a number of languages, giving feedback depending on whether the candidate got
            the question right, had the wrong output, or errored somewhere in their code. Ultimately, this was a great weekend that I was able to share with some impresive engineers, and I'm proud of what we came up with!
          </p>
        </div>
        <div class="comp-container">
          <img src="./lib/img/comps/newjane.png" class="comp-logo">
          <h3>Jane Street ETC</h3>
          <h5>2nd Place</h5>
          <h5>San Francisco, CA</h5>
          <h5>July 2017</h5>
          <p>Competing in the Jane Street ETC was some of the most fun I've ever had programming. While I knew relatively little about financial markets and asset classes, the competition was more a test of a team's ability to continually iterate and improve on a trading algorithm
          over the course of twelve hours. My team ended up finishing in 2nd place, though the competition was a roller coaster. We started out in 7th place and at one point had dipped to as low as 23rd. I've already written substantially about
          my experience at Jane Street in a blog post <a href="https://medium.com/@benhubsch/a-technical-deep-dive-into-the-jane-street-etc-5fbcdddc20db" target="_blank">HERE</a>.</p>
        </div>
      </div>
      <div class="comp-row" style="margin-bottom: 40px;">
        <div class="comp-container">
          <img src="./lib/img/comps/newgoog.png" class="comp-logo">
          <h3>Google Code Jam</h3>
          <h5>Durham, NC</h5>
          <h5>April 2017</h5>
          <p>I had never competed in an algorithm competition of any kind prior to Google Code Jam, and it got me so hooked on competitive programming that I'm planning on doing an independent study on competitive programming next semester. I also do believe that competitive programming
          is a skill that can be developed, as I saw my performance across the rounds improve dramatically. You learn what parts of the problem to focus on, and when you should spend more time thinking about a solution that will scale versus writing a brute
          force to cash out on the smaller datasets. A friend and I would work side-by-side on the problems while competing and then grab a meal afterward and talk about our solutions and approaches to the problems, which was a valuable learning experience. Very much looking forward to competing next year again!
        </div>
        <div class="comp-container">
          <img src="./lib/img/comps/newexp.png" class="comp-logo">
          <h3>Expedia DataFest@Duke</h3>
          <h5>Durham, NC</h5>
          <h5>March 2017</h5>
          <p>For this datathon, we were given just about every bit of information you could possibly imagine collecting from Expedia's landing page and were told to do what we wanted with it. The real struggle was
          picking a question that whittled down the dataset to a manageable size and was simultaneously interesting. We decided to look at how income plays a role in travel destination spots. While we didn't have exact income data for Expedia users, we were able to use the billing
          zip code of the user and marry that information with government data that mapped zip codes to income. We extracted interesting information out of that dataset, and I had a lot of fun participating. We wrote everything in Python using pandas in Jupyter,
          and our visualization relied on matplotlib.
        </div>
      </div>
      <div class="comp-row" style="margin-bottom: 40px;">
        <div class="comp-container">
          <img src="./lib/img/comps/newcitadel2.png" class="comp-logo">
          <h3>Citadel Securities Datathon</h3>
          <h5>Durham, NC</h5>
          <h5>April 2017</h5>
          <p>This datathon focused on the job market and economy in the United States post-recession in 2008 and was an interesting combination of computer science, statistics, and economics. My team had two economics majors and two computer science majors on
          our team, and we did our best to derive geographic and age insights from the data using regressions. We also made an attempt at a machine learning approach, but it admittedly was a failure. We ultimately didn't have enough good time-series data to
          both train our machine well and get legitimate results. Oh well, it happens!
        </div>
        <div class="comp-container">
          <img src="./lib/img/comps/newhorizons.png" class="comp-logo">
          <h3>Horizons Hackathon</h3>
          <h5>San Francisco, CA</h5>
          <h5>July 2017</h5>
          <p>I worked with two friends to build the Slack Pizza App that's I linked to in my projects section above. Since I explain the project in detail in the <a href="https://github.com/benhubsch/SlackPizza" target="_blank">README on Github</a>, I'll just briefly share a funny story. There was one point in the middle of the night around 1:30am when we were trying to place orders for pasta and pizza and were
          confused because it seemed like they weren't going through. Finally, we placed an order for a chicken alfredo pasta and got an email to confirm our order. We then drive to Dominos, and I tell them that I was there to pick up a pasta that I'd ordered.
          The lady behind the counter said, "Uhhh, I actually have FIVE orders of chicken alfredo pasta and one large pepperoni pizza that have all been paid for in your name." Needless to say, we had a debug session when we got back home...
        </div>
      </div>
      <div id="last" style="margin-bottom: 40px;">
        <div class="comp-container">
          <img src="./lib/img/comps/catalyst.png" class="comp-logo">
          <h3>Duke Catalyst HackerRank</h3>
          <h5>1st Place</h5>
          <h5>Durham, NC</h5>
          <h5>February 2017</h5>
          <p>This wasn't so much a strict competition as it was a fun way to encourage everyone to sharpen their programming skills outside of class. I made a point of trying to solve problems in a bunch of different languages to keep things fresh and learn about some langauges that
          I didn't yet have familiarity with. It also forced me to think about efficiency since I had submissions rejected a couple of times for being overly slow. At the end of the month, I ended up solving the greatest number of problems and had the highest score.
        </div>
      </div>
    </div>
    <script>
    $('.front1').click(function(){
      $(".card1").toggleClass('flip');
    });
    $('.back1').click(function(){
      $(".card1").toggleClass('flip');
    });
    $('.front2').click(function(){
      $(".card2").toggleClass('flip');
    });
    $('.back2').click(function(){
      $(".card2").toggleClass('flip');
    });
    $('.front3').click(function(){
      $(".card3").toggleClass('flip');
    });
    $('.back3').click(function(){
      $(".card3").toggleClass('flip');
    });
    $('.front4').click(function(){
      $(".card4").toggleClass('flip');
    });
    $('.back4').click(function(){
      $(".card4").toggleClass('flip');
    });
    $('.front8').click(function(){
      $(".card8").toggleClass('flip');
    });
    $('.back8').click(function(){
      $(".card8").toggleClass('flip');
    });
    $('.front6').click(function(){
      $(".card6").toggleClass('flip');
    });
    $('.back6').click(function(){
      $(".card6").toggleClass('flip');
    });
    $('.front9').click(function(){
      $(".card9").toggleClass('flip');
    });
    $('.back9').click(function(){
      $(".card9").toggleClass('flip');
    });
    $('.front5').click(function(){
      $(".card5").toggleClass('flip');
    });
    $('.back5').click(function(){
      $(".card5").toggleClass('flip');
    });
    $('.front10').click(function(){
      $(".card10").toggleClass('flip');
    });
    $('.back10').click(function(){
      $(".card10").toggleClass('flip');
    });
    $('.front11').click(function(){
      $(".card11").toggleClass('flip');
    });
    $('.back11').click(function(){
      $(".card11").toggleClass('flip');
    });
    $('.front12').click(function(){
      $(".card12").toggleClass('flip');
    });
    $('.back12').click(function(){
      $(".card12").toggleClass('flip');
    });
    </script>
  </section>