/******************************************
ADDED BY BEN
******************************************/

.scrollable {
    bottom: 0px;
    overflow-y: auto  !important;
    overflow-x: hidden !important;
}

.left-arrow {
    float: left;
    z-index: 11;
    position: absolute;
    left: 0;
}

.left-arrow::before {
    position: relative;
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 0.4em;
    height: 0.4em;
    border-right: 0.15em solid white;
    border-top: 0.15em solid white;
    transform: rotate(225deg);
    margin-right: 0.5em;
}

/* Change color */
.left-arrow:hover {
    color: black; /* For the text */
}
.left-arrow:hover::before {
    border-color: white; /* For the arrow (which is a border) */
    zoom: 125%;
}

.right-arrow {
    float: right;
    z-index: 10;
    position: absolute;
    right: 0;
}

.right-arrow::before {
    position: relative;
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 0.4em;
    height: 0.4em;
    border-right: 0.15em solid white;
    border-top: 0.15em solid white;
    transform: rotate(45deg);
    margin-right: 0.5em;
    /*margin-bottom: 300px;*/
}

/* Change color */
.right-arrow:hover {
    color: black; /* For the text */
}

.right-arrow:hover::before {
    border-color: white; /* For the arrow (which is a border) */
    zoom: 125%;
}

.smaller-icons {
    zoom: 65%;
}

.prof-pic {
    border-radius: 50%;
    zoom: 25%;
    /*zoom: 8%; */
}

.heybox {
    float: left;
    padding:0px;
    /*margin: -40px;*/
}

.plain-text {
    font-size: 5px;
}


.text-js{
    opacity: 0;
}
.cursor{
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: -5px;
    width: 4px;
    /* Change colour of Cursor Here */
    background-color: white;
    z-index: 1;
    animation: flash 0.5s none 14 alternate;
}
@keyframes flash{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


// Rest of CSS (Purely for this pen)
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

*{
    margin: 0;
    padding: 0;
    boz-sizing: border-box;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
// Text Can be styled just like normal
.headline{
    margin: 20px;
    color: white;
    font-size: 32px;
    text-align: center;
    display: flex;
    h1{
        letter-spacing: 1.6px;
        font-weight: 300;
    }
}
}






* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}


h1 {
    text-align: center;
    font-weight: 300;
    color: #777
}

h1 span {
    font-weight: 600;
}

.container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
}

.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #981f1f;
    margin-top: 10px;
    z-index: 9999
}

.timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}

.timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 25px;
    font-weight: 500
}

.timeline-content h5 {
    text-transform: none;
    margin-top: 0px;
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: 500
}

.timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
}

.timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #981f1f;
    margin-top: -4px;
}


@media screen and (max-width: 768px) {
    .container:before {
        left: 8px;
        width: 2px;
    }
    .timeline-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .timeline-block-right {
        float: none;
    }

    .timeline-block-left {
        float: none;
        direction: ltr;
    }
}


.separator {
    height: 50px;
}


.ss-style-dots::before {
    display:block;
    position:absolute;
    content:'';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 50%;
    background: white;
    box-shadow: 30px 0 #fff, -30px 0 #fff;
}

img.activator {
    margin-right: 0px;
}




* {
    box-sizing: border-box;
    transition: .5s ease-in-out;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: helvetica neue,helvetica,arial,sans-serif;
}
html h1, body h1 {
    font-size: 25px;
    font-weight: 200;
    color: white;
    line-height: 30px;
    margin-bottom: 10px;
}
html h2, body h2 {
    font-size: 15px;
    color: #6b0500;
}

#wrapper {
    opacity: 0;
    display: table;
    width: 100%;
}
#wrapper.loaded {
    opacity: 1;
    transition: 2.5s ease-in-out;
}
#wrapper #content {
    display: table-cell;
    vertical-align: middle;
}

#card {
    height: 300px;
    width: 250px;
    margin-right: 10px;
    margin-left: 10px;
    z-index: 1;
    perspective: 600px;
    display: inline-block;
}
#card #front, #card #back {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#card #front {
    transform: rotateY(0deg);
    overflow: hidden;
    z-index: 1;
}
#card #front #top-pic {
    height: 60%;
    width: 100%;
    background-image: url(https://unsplash.imgix.net/45/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=857f07b76abac23a7fb7161cc7b12a46);
    background-size: cover;
}

#card #front #info-box {
    height: 40%;
    width: 100%;
    display: table;
    left: 0;
    bottom: 0;
    background-color: maroon;
    opacity: 1;
    padding: 50px;
    zoom: 20%
}
#card #back {
    transform: rotateY(180deg);
    background-color: rgba(255, 255, 255, 0.6);
    /*display: table;*/
    z-index: 2;
    font-size: 13px;
    line-height: 20px;
    padding: 20px 20px 10px 20px;
    height: 300px;
    justify-content: center;
}
#card #back .back-info {
    text-align: justify;
    text-justify: inter-word;
}
#card .info {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
#card.flip #front {
    transform: rotateY(180deg);
}
#card.flip #back {
    transform: rotateY(360deg);
}


hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.1), rgba(255,255,255,0.3), rgba(255,255,255,0.5), rgba(255,255,255,0.7), white, rgba(255,255,255,0.7), rgba(255,255,255,0.5), rgba(255,255,255,0.3), rgba(255,255,255,0.1), rgba(255,255,255,0));
}


.contact-frame {
    height: 540px;
    width: 44%;
}

iframe { overflow:hidden; }

.invisible {
    opacity: 0;
}

.visibile {
    opacity: 1;
}

.whitebox {
    height: 10px;
    background-color: white;
    color: black;
    border-radius: 8%;
}

.github-button {
    display: inline-block;
    padding: .5rem 1.25rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    background-color: #3072b3;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #599bdc), color-stop(100%, #3072b3));
    background-image: -webkit-linear-gradient(top, #599bdc 0, #3072b3 100%);
    background-image: -moz-linear-gradient(top, #599bdc 0, #3072b3 100%);
    background-image: -ms-linear-gradient(top, #599bdc 0, #3072b3 100%);
    background-image: -o-linear-gradient(top, #599bdc 0, #3072b3 100%);
    background-image: linear-gradient(top, #599bdc 0, #3072b3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bdc', endColorstr='#3072b3', GradientType=0);
    border: 1px solid #2967a4;
    border-radius: 6px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    zoom: 150%
  }

.github-button:hover {
  cursor: pointer
}

